{% extends "base.html" %}
{% load cache %}
{% block title %}Отпуска{% endblock %}
{% load user_filters %}
{% load static %}
{% block header %}
<div style="display: flex; flex-direction: row; justify-content: left; align-items: center; flex-wrap: nowrap; width: 120%;">
    <a style="color: black; font-weight: bold; font-size: 38px; text-align: left; line-height: 50px; white-space: nowrap; margin-left: 358px;">Ближайшие отпуска коллег</a>
    <div style="display: flex; flex-direction: row; align-items: center; margin-left: 20px; gap: 20px; flex-grow: 1; justify-content: flex-end;">
        <a class="btn sib" style="background-color:#15a362; font-family: 'Calibri'; font-style: normal; font-weight: 400; width: 280px; height: 44px; font-size: 21px;
        padding: 0 10px; margin-right: -302px; border-radius: 5px; color: white; text-align: center; display: flex; align-items: center; justify-content: center;" href="{% url 'vac_my_vacations' %}">
            Перейти к моим отпускам
        </a>
    </div>
</div>

<style>
    /* Стили таблицы и кнопок */
    .btn.sib:hover { background-color: rgba(21, 163, 98, 0.8) !important; }
    .table-container { width: 1275px; display: flex; flex-direction: row; margin-top: 20px; margin-left: 360px; border: 1px solid #ccc; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); border-radius: 5px; }
    .custom-table { width: 1275px; border-collapse: collapse; }
    .custom-table th, .custom-table td { text-align: left; border-bottom: 1px solid rgb(187, 185, 185); padding: 10px; font-size: 18px; vertical-align: middle; }
    .custom-table .employee-cell { display: flex; flex-direction: row; justify-content: left; align-items: center; }
    .custom-table th { color: #5d6778; }
    .employee-color { width: 15px; height: 15px; border: 1px solid black; margin-right: 6px; }
    .on-vacation-label { background-color: #15a362; color: white; padding: 3px 8px; margin-left: 15px; border-radius: 4px; font-size: 14px; font-weight: bold; }
    .vacation-row { background-color: #d4e2f9; }
    .darker { color: #15a362; font-size: 19px; text-decoration: underline; }
    .darker:hover { color: green; }
    .vacation-cell:not(.vacation-row):hover { background-color: rgba(0, 0, 0, 0.01); transition: background-color 0.3s ease; }
</style>
{% endblock %}

{% block aside %}
    {% include 'includes/aside_vac_all.html' %}
{% endblock %}

{% block content %}
<div class="table-container">
    <table class="custom-table">
        {% if vacations_by_user %}
        <tr>
            <th>Сотрудник</th>
            <th>Отдел</th>
            <th>Период</th>
            <th>Дней</th>
        </tr>
        {% for key, value in vacations_by_user.items %}
        <tr class="vacation-cell {% if value.in_vacation %}vacation-row{% endif %}" data-employee-name="{{ key }}" data-position="{{ value.position }}">
            <td>
                <div class="employee-cell" onclick="filtrByUser(this)">
                    <div class="employee-color" style="background: {{ value.color }};"></div>
                    <a href="#" class="darker">{{ key }}</a>
                    {% if value.in_vacation %}
                        <span class="on-vacation-label">в отпуске</span>
                    {% endif %}
                </div>
            </td>
            <td style="font-size: 18px;">{{ value.otd }}</td>
            <td>
                <div style="display: inline-block; color: black; font-style: italic; font-size: 18px;">
                    {% for period in value.vacation_periods %}
                        {% if key == request.user.get_full_name or request.user.get_full_name in bosses %}
                        <a href="{% url 'vacation_detail' vac_id=value.dates.0.vac_id %}" class="darker" style="font-style: italic; font-size: 18px;">{{ period }}</a><br>
                        {% else %}
                            <span style="display: inline-block; color: black; font-style: italic;">{{ period }}</span><br>
                        {% endif %}
                    {% endfor %}
                </div>
            </td>
            <td>
                <div>
                    {% for start_date, days_count in value.vacation_start_dates %}
                    <span style="font-size: 19px;">{{ days_count }}</span><br>
                    {% endfor %}
                </div>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4" style="text-align: left; font-size: 20px; color: #5d6778;">Не найдено ближайших отпусков.</td>
        </tr>
        {% endif %}
    </table>
</div>
{% endblock %}