{% extends "base.html" %}
{% load cache %}
{% block title %}Отпуска{% endblock %}
{% load user_filters %}
{% load static %}
{% block header %}
<script src="{% static 'libs/index.umd.js' %}"></script>
<div style="display: flex; flex-direction: row; justify-content: left; align-items: center; flex-wrap: nowrap; width: 120%;">
    <a style="color: black; font-weight: bold; font-size: 38px; text-align: left; line-height: 50px; white-space: nowrap;">Ближайшие отпуска коллег</a>
    <div style="display: flex; flex-direction: row; align-items: center; margin-left: 20px; gap: 20px; flex-grow: 1; justify-content: flex-end;">
        <a class="btn sib" style="background-color:#15a362; font-family: 'Calibri'; font-style: normal; font-weight: 400; width: 280px; height: 44px; font-size: 21px;
        padding: 0 10px; margin-right: 20px; border-radius: 5px; color: white; text-align: center; display: flex; align-items: center; justify-content: center;" href="#">
            Перейти к моим отпускам
        </a>
    </div>
</div>

<style>
    /* Стили таблицы и кнопок */
    .btn.sib:hover { background-color: rgba(21, 163, 98, 0.8) !important; }
    .table-container { width: 1313px; display: flex; flex-direction: row; margin-top: 15px; border: 1px solid #ccc; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); border-radius: 5px; }
    .custom-table { width: 1313px; border-collapse: collapse; }
    .custom-table th, .custom-table td { text-align: left; border-bottom: 1px solid rgb(187, 185, 185); padding: 10px; font-size: 18px; vertical-align: middle; }
    .custom-table .employee-cell { display: flex; flex-direction: row; justify-content: left; align-items: center; }
    .employee-color { width: 15px; height: 15px; border: 1px solid black; margin-right: 6px; }
    .on-vacation-label { background-color: #15a362; color: white; padding: 3px 8px; margin-left: 15px; border-radius: 4px; font-size: 14px; font-weight: bold; }
    .vacation-row { background-color: #d4e2f9; }
</style>
{% endblock %}

{% block aside %}
    {% include 'includes/aside_vac_all.html' %}
{% endblock %}

{% block content %}
<div class="table-container">
    <table class="custom-table">
        <tr>
            <th>Сотрудник</th>
            <th>Отдел</th>
            <th>Период</th>
            <th>Дней</th>
            <th>Заявление</th>
        </tr>
        {% for key, value in vacations_by_user.items %}
        <tr class="vacation-cell {% if value.in_vacation %}vacation-row{% endif %}" data-employee-name="{{ key }}" data-position="{{ value.position }}">
            <td>
                <div class="employee-cell" onclick="filtrByUser(this)">
                    <div class="employee-color" style="background: {{ value.color }};"></div>
                    <a href="#" style="color: #15a362; text-decoration: underline; font-size: 19px;">{{ key }}</a>
                    {% if value.in_vacation %}
                        <span class="on-vacation-label">в отпуске</span>
                    {% endif %}
                </div>
            </td>
            <td style="font-size: 18px;">{{ value.otd }}</td>
            <td>
                <div style="display: inline-block; color: black; font-style: italic; font-size: 18px;">
                    {% for period in value.vacation_periods %}
                        {% if key == request.user.get_full_name or request.user.get_full_name in bosses %}
                            <a href="#" style="color: #15a362; text-decoration: underline; font-style: italic;">{{ period }}</a><br>
                        {% else %}
                            <span style="display: inline-block; color: black; font-style: italic;">{{ period }}</span><br>
                        {% endif %}
                    {% endfor %}
                </div>
            </td>
            <td>
                <div>
                    {% for start_date, days_count in value.vacation_start_dates %}
                    <span style="font-size: 19px;">{{ days_count }}</span><br>
                    {% endfor %}
                </div>
            </td>
            <td>
                <div style="display: inline-block;">
                    <a href="#" class="download-word" style="color: #15a362; text-decoration: underline; font-size: 19px;">
                        скачать (word)
                    </a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.download-word').forEach(button => {
            button.addEventListener('click', (event) => {
                event.preventDefault();

                const row = event.target.closest('tr');
                const employeeName = row.getAttribute('data-employee-name');
                const department = row.children[1].textContent.trim();
                const position = row.getAttribute('data-position');  // Извлекаем должность
                const periods = Array.from(row.children[2].querySelectorAll('a')).map(a => a.textContent);
                const days = Array.from(row.children[3].querySelectorAll('span')).map(span => span.textContent);

                const doc = new docx.Document({
                    sections: [{
                        properties: {},
                        children: [
                            new docx.Paragraph({
                                text: `Отчет об отпуске сотрудника: ${employeeName}`,
                                heading: docx.HeadingLevel.HEADING_1,
                            }),
                            new docx.Paragraph({
                                text: `Должность: ${position}`,  // Добавляем должность
                                spacing: { after: 200 },
                            }),
                            new docx.Paragraph({
                                text: `Отдел: ${department}`,
                                spacing: { after: 200 },
                            }),
                            new docx.Paragraph({
                                text: `Периоды отпуска:`,
                                spacing: { after: 100 },
                            }),
                            ...periods.map(period => new docx.Paragraph(period)),
                            new docx.Paragraph({
                                text: `Количество дней отпуска:`,
                                spacing: { after: 100 },
                            }),
                            ...days.map(day => new docx.Paragraph(day)),
                        ],
                    }],
                });

                docx.Packer.toBlob(doc).then((blob) => {
                    const url = URL.createObjectURL(blob);
                    const a = document.createElement("a");
                    a.href = url;
                    a.download = `${employeeName}-vacation.docx`;
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                });
            });
        });
    });
</script>
{% endblock %}
